@import '../../style/variables.scss';

.header-info{
    color: $white-text;
    max-width: 1205px;
    margin-left: auto;
    .header-info__block{
        display: flex;
        align-items: center;
    }
    .header-info__text{
        max-width: 550px;
        padding-top: 150px;
    }
}