@import '../../style/variables.scss';

@mixin flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-info{
    padding: 100px 0;
    color: $white-text;
    max-width: 1205px;
    margin-left: auto;
    &__block{
        @include flex();
    }
    &__text{
        max-width: 550px;
        padding: 10px 0;
    }
    &__btn{
        margin-top: 45px;
        display: flex;
        justify-content: space-between;
    }
    &__img{
        @include flex();

    }
    &__comp{
        @include flex();
        background-color: #FBFCF5;
        max-width: 1100px;
        justify-content: space-around;
        padding: 10px 0;
    }
}