@import '../../style/variables.scss';

.app{
    background-color: $back-beige;
    &__header{
        background-color: $main-color;
    }
    &__connect{
        background-color: $beige-color;
    }
    &__develop{
        background-color: $blue-color;
    }
    &__footer{
        background-color: $dark-color;
    }
}