@import '../../style/variables.scss';

.connect{
    display: flex;
    flex-wrap: wrap;
    max-width: 1110px;
    margin: 0 auto;
    gap: 80px;
    justify-content: center;
    padding: $padding 0;
    &__text{
        text-align: left;
        max-width: 535px;
        div {
            padding: 20px 0;
        }
    }
    &__items{
        max-width: 460px;
        li {
            margin-bottom: 50px;
        }
    }
}