@import '../../../style/variables.scss';

.button{
    border: none;
    padding: 10px 35px;
    border-radius: 50px;
    font-family: 'Roboto';
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    background-color: $white-text;
    cursor: pointer;
    &__beige{
        color: $dark-color;
        background: $button-bg;
        &:hover{
            color: $main-color;
        }
    }
    &__white{
        padding: 15px 0;
        min-width: 250px;
        color: $text-button-wh;
        &:hover{
            color: $white-text;
            background-color: $button-bl;
        }
    }
    &__black{
        background-color: $button-bl;
        color: $white-text;
        padding: 15px 0;
        min-width: 250px;
        &:hover{
            background-color: $white-text;
            color: $text-button-wh;
        }
    }
    &__black-gr{
        background-color: $button-bl;
        color: $white-text;
        padding: 15px 0;
        min-width: 250px;
        &:hover{
            background-color: $main-color;
        }
    }
    &__green-bl{
        background-color: $main-color;
        color: $white-text;
        padding: 15px 0;
        min-width: 250px;
        &:hover{
            background-color: $button-bl;
        }
    }
    &__transparent{
        border: 1px solid $main-color;
        padding: 15px 0;
        min-width: 250px;
        background-color: transparent;
        &:hover{
            background-color: $main-color;
            color: $white-text;
        }
    }
    &__transp-sm{
        border: 1px solid $main-color;
        padding: 7px 40px;
        background-color: transparent;
        &:hover{
            background-color: $main-color;
            color: $white-text;
        }
    }
    &__green-wh{
        padding: 15px 0;
        min-width: 250px;
        color: $white-text;
        background-color: $main-color;
        &:hover{
            color: $text-button-wh;
            background-color: $white-text;
        }
    }
    &__white-gr{
        padding: 15px 0;
        min-width: 250px;
        color: $text-button-wh;
        &:hover{
            color: $white-text;
            background-color: $main-color;
        }
    }
    &__footer{
        min-width: 250px;
        color: $white-text;
        background-color: $main-color;
        &:hover{
            color: $text-button-wh;
            background-color: $white-text;
        }
    }
    
    @media (max-width: 576px){
        &__white{
            padding: 10px 0;
            max-width: 220px;
        }
        &__black{
            padding: 10px 0;
            max-width: 220px;
        }
        &__black-gr{
            padding: 10px 0;
            max-width: 220px;
        }
        &__green-bl{
            padding: 10px 0;
            max-width: 220px;
        }
        &__transparent{
            padding: 10px 0;
            max-width: 220px;
        }
        &__transp-sm{
            padding: 7px 30px;
        }
        &__green-wh{
            padding: 10px 0;
            max-width: 220px;
        }
        &__white-gr{
            padding: 10px 0;
            max-width: 220px;
        }
        &__footer{
            max-width: 220px;
        }
    }

    @media (max-width: 375px){
        &__white{
            padding: 15px 0;
            max-width: 180px;
        }
        &__black{
            padding: 15px 0;
            max-width: 180px;
        }
        &__black-gr{
            padding: 15px 0;
            max-width: 180px;
        }
        &__green-bl{
            padding: 15px 0;
            max-width: 180px;
        }
        &__transparent{
            padding: 15px 0;
            max-width: 180px;
        }
        &__transp-sm{
            padding: 7px 40px;
        }
        &__green-wh{
            padding: 15px 0;
            max-width: 180px;
        }
        &__white-gr{
            padding: 15px 0;
            max-width: 180px;
        }
        &__footer{
            max-width: 180px;
        }
    }
}