@import '../../style/variables.scss';

.header{
    &__container{
        width: 1440px;
        background-color: $main-color;
        position: fixed;
        box-shadow: 0px 5.698820114135742px 9.498040199279785px 0px rgba(19, 40, 29, 0.098);
        margin: 0 auto;
        z-index: 5;
    }
    &__line{
        min-height: 10px;
    }
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    &_left{
        display: flex;
        gap: 50px;
        align-items: center;
    }

    &__link{
        ul {
            display: flex;
            width: 400px;
            justify-content: space-between;
        }
    }
    &_registr{
        align-items: center;
        display: flex;
        gap: 30px;
    }
    li, p{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        &:hover{
            color: $dark-color;
            cursor: pointer;
        }
        &:active{
            color: $dark-color;
        }
    }
    &__menu{
        display: none;
    }
    @media (max-width: 1024px) {
        &__container{
            width: 1024px;
            padding: 0 5%;
        }
    }
    @media (max-width: 768px) {
        &__container{
            max-width: 768px;
            padding: 0 10%;
        }
        &__menu{
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            span{
                position: absolute;
                background-color: $white-text;
                left: 0;
                width: 100%;
                height: 2px;
                top: 9px;
                transition: all 0.3s ease 0.5ms;        
            }
            &::before, &::after{
                content: '';
                background-color: $white-text;
                position: absolute;
                width: 100%;
                height: 2px;
                transition: all 0.3s ease 0.5ms;  
            }
            &::before{
                top: 0;
            }
            &::after{
                bottom: 0;
            }
            &_active{
                &::before{
                    transform: rotate(45deg);
                    top: 9px;
                }
                &::after{
                    transform: rotate(-45deg);
                    bottom: 9px;
                }
                span{
                    transform: scale(0);
                }
            }
        }
        &__link{
            ul{
                position: fixed;
                top: 70px;
                left: 15%;
                right: auto;
                width: 200px;
                height: 250px;
                padding-top: 2%;
                flex-direction: column;
                align-items: center;
                background-color: $main-color;
                transition: all 0.3s ease;
                justify-content: start;
                gap: 30px;
                li{
                    font-size: 15px;
                    line-height: 18px;
                }
            }
            &_active{
                display: block;
            }
            &_hide{
                display: none;
            }
        }
    }
    @media (max-width: 576px){
        &__link{
            ul{
                top: 70px;
            }
            left: 50%;
        }
    }
    @media (max-width: 375px){
        &__link{
            left: 40%;
            li {
                font-size: 22px;
            }
        }
        &__logo{
            padding-right: 10px;
        }
    }
}