@import '../../style/variables.scss';

.header{
    &__container{
        background-color: $main-color;
        border-bottom: 1px ridge black;
    }
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    &_left{
        display: flex;
        gap: 50px;
        align-items: center;
    }

    &__link{
        ul {
            display: flex;
            width: 400px;
            justify-content: space-between;
        }
    }
    &_registr{
        align-items: center;
        display: flex;
        gap: 30px;
    }
    li, p{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        &:hover{
            color: $dark-color;
            cursor: pointer;
        }
        &:active{
            color: $dark-color;
        }
    }
}