$main-color:#1FBD8A;
$dark-color: #192F44;
$white-text: #FFFFFF;
$blue-color: #0A2540;
$blue-color-wh: rgba(1, 58, 81, 0.59);
$beige-color: #F2F4E8;
$back-beige: FBFCF5;
$text-button-wh: #013A51;
$button-bl: #192F44;
$button-bg: #F4FBF9;
$padding: 150px;