@import '../../../style/variables.scss';

.description{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: $text-button-wh;
    text-align: center;
    &__white{
        color: $white-text;
        text-align: left;
    }
    &__item{
        font-size: 15px;
        line-height: 22px;
        text-align: left;
    }
    &__left{
        text-align: left;
    }
    &__left-wh{
        text-align: left;
        color: $white-text;
    }
    &__big{
        font-size: 25px;
        line-height: 34px;
        text-align: left;
    }
    &__try{
        font-size: 21px;
        line-height: 28px;
        color: $white-text;
    }
}